body {
  font-family: Raleway, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-bottom: 15px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-transform: capitalize;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2ca6d9;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 5px;
  color: #b2b2b2;
  font-size: 13px;
  line-height: 26px;
}

a {
  color: #00e;
}

.button {
  position: relative;
  left: 263px;
  top: -60px;
  display: block;
  width: 150px;
  padding: 16px 28px;
  border-radius: 20px;
  background-color: #e64949;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #323232;
}

.navigation {
  background-color: #fff;
}

.brand {
  top: 14px;
}

.navigation-link {
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-weight: 500;
}

.navigation-link:hover {
  background-color: #424242;
  color: #fff;
}

.navigation-link.w--current {
  background-color: #2ca6d9;
  color: #fff;
}

.banner {
  height: 700px;
  padding-top: 131px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/socialWOrkerCropped.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/socialWOrkerCropped.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.gray {
  background-color: #f0f5f7;
}

.section.parallax {
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, #8ecbe6, rgba(44, 166, 217, .82)), url('../images/socialWorker3.jpg');
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #8ecbe6, rgba(44, 166, 217, .82)), url('../images/socialWorker3.jpg');
  background-position: 0px 0px, 36% 36%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.top-title {
  margin-bottom: 60px;
  text-align: center;
}

.lighter {
  font-weight: 400;
}

.blue {
  color: #2ca6d9;
}

.sub-title {
  color: #b2b2b2;
  font-size: 15px;
  line-height: 30px;
}

.sub-title.dark {
  color: #636363;
}

.services-wrapper {
  text-align: center;
}

.services-icon {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 30%;
  background-color: #2ca6d9;
  background-image: url('../images/medkit_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
}

.services-icon.icon-2 {
  background-image: url('../images/pillWHite.png');
  background-size: 45px;
}

.services-icon.icon-3 {
  background-image: url('../images/family.png');
  background-size: 40px;
}

.small-space {
  margin-top: 20px;
}

.text-link {
  display: block;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #2ca6d9;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.text-link:hover {
  color: #b2b2b2;
}

.plus {
  position: relative;
  top: 2px;
  font-size: 20px;
  font-weight: 400;
}

.team-content {
  margin-top: 20px;
}

.team-sub-title {
  margin-top: -7px;
  margin-bottom: 15px;
  color: #b2b2b2;
}

.team-sub-title.red-color {
  color: #8c8c8c;
}

.social-team {
  margin-top: 20px;
}

.social-icon {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: #2ca6d9;
  background-image: url('../images/facebook_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 14px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.social-icon:hover {
  background-color: #323232;
}

.social-icon.twitter {
  background-image: url('../images/twitter_ffffff_100.png');
}

.social-icon.rss {
  background-image: url('../images/rss_ffffff_100.png');
}

.social-icon.linkdin {
  background-image: url('../images/linkedin_ffffff_100.png');
}

.white {
  color: #fff;
}

.text-field {
  position: relative;
  left: 90px;
  display: inline-block;
  width: 371px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 18px;
  float: none;
  border-width: 0px;
  border-color: #000;
  font-size: 13px;
}

.center {
  text-align: center;
}

.features-wrapper {
  margin-bottom: 30px;
}

.features-icon {
  width: 70px;
  height: 70px;
  float: left;
  background-image: url('../images/groupBLue.png');
  background-position: 50% 50%;
  background-size: 40px;
  background-repeat: no-repeat;
}

.features-icon.icon-2 {
  background-image: url('../images/briefcaseBlue.png');
  background-size: 40px;
}

.features-icon.icon-3 {
  background-image: url('../images/plus-circle_2ca6d9_100.png');
  background-size: 45px;
}

.features-icon.icon-4 {
  background-image: url('../images/disabilityBLue.png');
  background-size: 40px;
}

.features-icon.icon-5 {
  background-image: url('../images/user-md_2ca6d9_100.png');
}

.features-icon.icon-6 {
  background-image: url('../images/communityBlue.png');
  background-size: 50px;
}

.features-icon.grouptherapy {
  background-size: 50px;
}

.features-content {
  position: relative;
  overflow: hidden;
}

.list-icon {
  width: 25px;
  height: 30px;
  margin-right: 8px;
  float: left;
  background-image: url('../images/plusGreen.png');
  background-position: 0px 31%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.row-space {
  margin-top: 20px;
}

.client-wrapper {
  width: 20%;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2ca6d9;
}

.copyright {
  color: #fff;
}

.red-seperator {
  position: absolute;
  top: -94px;
  right: 50%;
  display: inline-block;
  padding: 20px 100px;
  border-radius: 20px;
  background-color: #99c09c;
  -webkit-transform: translate(50%, 0px);
  -ms-transform: translate(50%, 0px);
  transform: translate(50%, 0px);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.inner-banner {
  height: 170px;
  background-image: url('../images/brickwall_2X.png');
  background-size: 110px;
  background-repeat: repeat;
  background-attachment: fixed;
}

.center-container {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.field-label {
  color: #8f8f8f;
  font-size: 13px;
  font-weight: 500;
}

.another-text-field {
  height: 45px;
  margin-bottom: 15px;
  border-radius: 4px;
  color: #b2b2b2;
}

.another-text-field.area {
  padding-bottom: 103px;
}

.success-message {
  padding-top: 26px;
  padding-bottom: 26px;
  border-radius: 5px;
  background-color: #17ad32;
  text-align: center;
}

.paragraph-form {
  margin-bottom: 0px;
  color: #fff;
  font-size: 14px;
}

.error-message {
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #e36868;
  text-align: center;
}

.banner-title {
  font-size: 40px;
  line-height: 50px;
}

.image {
  margin-top: -10px;
}

.text-block {
  position: relative;
  left: 100px;
  top: -68px;
  border-left-color: #99c09c;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-style: italic;
}

.text-span {
  position: relative;
  left: 100px;
  top: -72px;
  float: none;
  color: #fff;
  font-size: 45px;
}

.text-span-2 {
  color: #2ca6d9;
}

.heading {
  padding-right: 100px;
  padding-left: 100px;
}

.text-span-3 {
  color: #2ca6d9;
}

.text-span-4 {
  color: #2ca6d9;
}

.text-block-2 {
  text-align: center;
}

.sponsers {
  color: #000;
  text-align: center;
  text-decoration: underline;
}

.form {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.servicessubscribebtn {
  position: relative;
  top: 39px;
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #99c09c;
  color: #fff;
  text-align: center;
}

.contactus-btn {
  background-color: #99c09c;
}

.html-embed {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .navigation {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .brand {
    top: 1px;
  }
  .brand.w--current {
    top: 3px;
  }
  .navigation-link {
    max-width: 100%;
    padding-top: 29px;
    padding-bottom: 29px;
    color: #fff;
  }
  .banner {
    height: 600px;
    padding-top: 73px;
    background-position: 37% 50%;
  }
  .text-field {
    left: 8px;
    width: 344px;
  }
  .red-seperator {
    top: -96px;
  }
  .hamburger.w--open {
    background-color: #2ca6d9;
  }
  .responsive-menu {
    background-color: rgba(19, 100, 135, .85);
  }
  .servicessubscribebtn {
    position: relative;
    top: 41px;
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    background-color: #99c09c;
    color: #fff;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 500px;
    background-image: -webkit-linear-gradient(270deg, rgba(44, 166, 217, .7), hsla(0, 0%, 100%, .92)), url('../images/slide-one.jpg');
    background-image: linear-gradient(180deg, rgba(44, 166, 217, .7), hsla(0, 0%, 100%, .92)), url('../images/slide-one.jpg');
    background-position: 0% 0%, 37% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .section.parallax {
    padding-right: 10px;
    padding-left: 10px;
  }
  .services-wrapper {
    margin-bottom: 40px;
  }
  .team-wrapper {
    margin-bottom: 40px;
  }
  .text-field {
    left: 28px;
    width: 90%;
    margin-right: 0px;
    float: none;
  }
  .client-wrapper {
    width: 33.333%;
    margin-bottom: 25px;
  }
  .red-seperator {
    top: -102px;
    width: 200px;
    padding-right: 0px;
    padding-left: 0px;
    line-height: 26px;
  }
  .lightbox-image {
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .navigation {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .banner {
    height: 634px;
    padding-top: 56px;
    background-image: -webkit-linear-gradient(270deg, rgba(44, 166, 217, .3), hsla(0, 0%, 100%, .6)), url('../images/socialWOrker2.jpg');
    background-image: linear-gradient(180deg, rgba(44, 166, 217, .3), hsla(0, 0%, 100%, .6)), url('../images/socialWOrker2.jpg');
  }
  .section {
    padding-right: 5px;
    padding-left: 5px;
  }
  .text-field {
    left: 0px;
    width: 100%;
  }
  .client-wrapper {
    width: 100%;
    text-align: center;
  }
  .red-seperator {
    top: -99px;
    width: 200px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .hamburger {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .image {
    margin-top: 0px;
  }
  .text-block {
    left: 10px;
    top: 0px;
    font-size: 20px;
  }
  .text-span {
    left: 10px;
    top: 0px;
    font-size: 35px;
  }
  .heading {
    padding-right: 0px;
    padding-left: 0px;
  }
  .servicessubscribebtn {
    border-radius: 20px;
  }
  .html-embed {
    width: 290px;
  }
}

